
<div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="card-body">
          <h2> <%= cocktail.name %> </h2>
          <p> <em><strong><%= link_to 'See details', cocktail_path(cocktail) %></strong></em> </p>
        </div>
      </div>
    <% end %>
</div>
