<div class="container" id="index">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="card" style="width: 18em">
          <div class="card-body">
            <h2> <%= cocktail.name %> </h2>
            <p> <em><strong><%= link_to 'Details', cocktail_path(cocktail) %></strong></em> </p>
          </div>
        </div>
      <% end %>
  </div>
</div>
