
<div class="cards">
    <% @cocktails.each do |cocktail| %>
          <!-- cocktail_path(cocktail -->
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path "#{cocktail.name.downcase.split.join('_')}" %>)">
              <span><%= cocktail.name %></span>
            </div>
          <% end %>
        <% end %>
</div>
