<div class="container">

  <h2>Create a cocktail</h2>
  <div class="">
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
