.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 65px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Chau Philomene One', sans-serif;
  color: white;
  margin-bottom: 20px;

  h2 {
    font-size: 42px;
    padding: 0 25px;
  }

  i {
    font-size: 26px;
  }

  i:hover {
    opacity: 0.7;
  }
}

#logo {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
