.navbar-lewagon {
  justify-content: space-between;
  background: #F9D46A;
  box-shadow: 0 1px 8px #FCF2BE;
  height: 50px;
  font-family: 'Chau Philomene One', sans-serif;
  color: #85496F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
